<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dilib.malaga"
        versionCode="1" 
        version   = "1.0.b">

    <!-- versionCode is optional and Android only -->

    <name>Málaga</name>

    <description>
        Aplicación que sistematiza las tablas de notación interna que desarrolló el Dr. Luis F. Málaga. 
    </description>

    <author href="https://dilib.net" email="john@orrego.org">
        Proyecto Dilib
    </author>
    
    <icon src="favicon.png" />
    
    <preference name="phonegap-version" value="2.9.0" />
    
    <plugin name="ChildBrowser" value="com.phonegap.plugins.childBrowser.ChildBrowser"/>
    
</widget>
